
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Coin Data</title>
    <link rel="stylesheet" href="/pure-0.3.0-min.css">
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="/typekit.js"></script>
</head>
<body>
<div id="layout">
    <div id="main">
        <div class="header">
            <h1>Open Coin Data</h1>
            <h2>Historical data from currency exchanges for all.</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">What data is available?</h2>
            <p>
                Our mission is to provide a real-time, consistent API to aggregate and study the 
                major data outputs of cryptocurrency exchanges. This data is useful for scientific study,
                research and financial trading. We are also working on making historical 
                data available in it's most granular form, as well as weighted rollups. 
            </p>
            <p>
                Browse <a href="/trades">real-time trades</a>, or explore the API documentation.
            </p>

    </div>
</div>

</body>
</html>
