<div id="layout">
    <div id="main">
        <div class="header">
            <h1>Open Coin Data</h1>
            <h2>Historical data from currency exchanges for all.</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">What data is available?</h2>
            <p>
                We provide a real-time, consistent API to aggregate and study the 
                major data outputs of cryptocurrency exchanges. 
                We're working on making historical data available soon.
            </p>
            <p>
                <strong>
                Browse <a href="/trades">real-time trades</a> or explore the API documentation.
                </strong>
            </p>
        </div>
    </div>
    <div class="footer">
        <p>
        Data licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0 license</a>. Donations appreciated via 1L8HvebAeYCcCB7SrN6Htjk1wesbRZ5uuC.
        </p> 
    </div>
</div>