<script type="text/javascript" src="/moment.min.js"></script>
<script type="text/javascript" src="/livestamp.min.js"></script>
<div id="layout">
    <div id="main">
        <div class="header">
            <h1>Status</h1>
            <h2>The status of API and data collection</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Currency Pairs</h2>
            <table>
            <thead>
            	<th>Exchange</th><th>Pair</th>
            </thead>
            <tbody>
            {{range $exchange, $pairs := .Status}}
            	{{range $pair, $status := $pairs}}
            	<tr>
            		<td>{{$exchange}}</td>
            		<td>{{$pair}}</td>
            	</tr>
            	{{end}}
            {{end}}
            </table>
        </div>
    </div>
</div>