
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Coin Data - Trades</title>
    <link rel="stylesheet" href="/pure-0.3.0-min.css">
    <link rel="stylesheet" href="/main.css">
    <style type="text/css">
        .tradelist {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .tradelist .tradelist-row {
            text-align: center;
            padding: 0;
            margin: 0;

        }
    </style>
    <script type="text/javascript" src="/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/moment.min.js"></script>
    <script type="text/javascript" src="/livestamp.min.js"></script>
    <script type="text/javascript" src="/typekit.js"></script>
    <script type="text/javascript">
        var ws;
        if (ws != null) {
            ws.close();
            ws = null;
        }
        ws = new WebSocket("ws://"+window.location.host+"/api/ws/trades");
        ws.onopen = function () {
            console.log("opened");
        };
        ws.onmessage = function (e) {
            var obj = JSON.parse(e.data); 
            $('.tradelist').prepend(
                '<li class="tradelist-row">' +
                obj.Exchange + ' ' +
                obj.Pair.Base + '/' + obj.Pair.Counter + ' ' +
                obj.Type.toUpperCase() + ' ' +
                obj.Amount + ' @ ' +
                obj.Rate + ' ' +
                '<small class="timestamp">' + moment(obj.Timestamp).fromNow() + '</span>' + 
                '</li>'
            )
            $('.tradelist li:first-child .timestamp').livestamp(obj.Timestamp);
            $('.tradelist-row:gt(50)').remove();
        }
        ws.onclose = function (e) {
            console.log("closed");
        }
    </script>
</script>
<body>
<div id="layout">
    <div id="main">
        <div class="header">
            <h1>Trades</h1>
            <h2>Live trade data from supported exchanges</h2>
        </div>

        <div class="content">
            <ul class="tradelist">
            </ul>
        </div>
    </div>
</div>

</body>
</html>
